<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="close()"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title">Profile</h4>
</div>
                
<form method="post" action="member/update" id='profileForm' target="my_iframe" enctype="multipart/form-data" class="form-horizontal" style="margin-top:20px">
    <fieldset>
        <div class="form-group" style="text-align:center">

            <div class="profile-pic">
                <img id="profAvatar" style="max-width: 150px; max-height: 150px; margin:20px" ng-src='images/avatar/thumbnails/{{user.avatar}}'/>
                <div class="edit"><a><i class="glyphicon glyphicon-pencil"></i></a></div>
                <input style="display:none" ng-model="user.username" name="username" type="text">
                <input style="display:none" ng-model="user.id" name="id" type="text">
            </div>
        </div>
        
        <div class="form-group">
            <label class="col-md-4 control-label" for="textinput">Profile image</label>
            <div class="col-md-6">
                <input id="fileUpload" name="avatar" type="file" accept="image/*" on-file-change="fileChanged">
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-4 control-label" for="textinput">User name</label>  
            <div class="col-md-6">
                <input ng-model="user.username" disabled id="username" name="username2" type="text" placeholder="username" class="form-control input-md">
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-4 control-label" for="textinput">Display Name</label>  
            <div class="col-md-6">
                <input  ng-model="user.name" id="name" name="name" type="text" placeholder="Display name" class="form-control input-md">
            </div>
        </div>

    </fieldset>
</form>
<div class="modal-footer">
    <button type="submit" class="btn btn-default btn-custom" ng-click="updateProfile()">Update</button>
</div>