<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" ng-click="close()" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title">Add Room</h4>
</div>
                
<form id='profileForm' target="my_iframe" enctype="multipart/form-data" class="form-horizontal" style="margin-top:20px">
    <fieldset>
        <div class="form-group">
            <label class="col-md-4 control-label" for="textinput">Room Name</label>  
            <div class="col-md-6">
                <input  ng-model="room.name" id="name" name="name" type="text" placeholder="Room Name" class="form-control input-md">
            </div>
        </div>

    </fieldset>
</form>
<div class="modal-footer">
    <button type="submit" class="btn btn-default btn-custom" ng-click="addRoom()">Add</button>
</div>